.container {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  justify-content: center;
  display: flex;
}

.col {
  width: calc(100% / 5);
  margin-left: 2rem;
}

.title-text-row {
  display: flex;
}

.reduce-lv-bag {
  width: 97%;
}

.title-text {

}

.product-title {
}

.product-size {
  padding-left: 0.3rem;
}

.strike {
  text-decoration: line-through;
}

.grey-text {
  color: #d3d3d3;
}

.reduced-price{

}

.retail-price {
  margin-left: 0.3rem;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

span,
p {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

h1 {
  font-family: "DM Sans", sans-serif;
}
