.container {
  margin: 0 auto;
  width: 1080px;
  text-align: center;
}

.row {
  display: flex;
  flex-flow: wrap;
}

.nav-header {
  display: flex;
  flex-flow: wrap;
  border-bottom: 1px solid #e7e9ec;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-bottom: 5rem;
}

img {
  width: 100%;
}

.nav-item {
  width: calc(100% / 2);
}

.logo-blue {
  width: 30%;
}

.nav {
  position: relative;
  right: 0;
}

a {
  text-decoration: none;
}

.nav-a-ref {
  padding: 1rem;
  font-family: 'Avenir', sans-serif;
  color: gray;
}

.contact {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #294464;
  border-radius: 5px;
  color: white;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 1000px;
  height: 500px;
}

.image-section-super-div {
  padding-left: 40px;
  padding-right: 40px;
}

.image-section {
  width: 1000px;
  height: 500px;
  background-image: url('images/hero.jpg');
  background-size: cover;
  position: relative;
  margin-bottom: 4rem;
}

.image-section-text {
  width: 50%;
  padding-left: 2rem;
  color: white;
  position: absolute;
  top: 3rem;
  margin-left: 2.5rem;
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: lighter;
}

.image-section-headline {
  text-align: left;
  line-height: 2.5rem;
}

.image-section-paragraph {
  text-align: left;
  line-height: 1.7rem;
}

.get-started {
  border-radius: 5px;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  background-color: #294464;
  color: white;
  font-family: 'Avenir', sans-serif;
}

.get-started-image-position {
  left: 1.8rem;
  position: absolute;
  margin-top: 1rem;
}

.inner-row {
  display: flex;
  flex-flow: wrap;
}

.locations-section {
  color: #6e6e6e;
  background-color: #fafafa;
  width: 1080px;
}

.locations-border {
  border-bottom: 1px solid #e7e9ec;
}

.locations-header {
  margin-top: 4rem;
  width: 100%;
}

.locations-headline {
  text-align: center;
  font-size: 2rem;
}

.locations-paragraph {
  text-align: center;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

.locations-text-section {
  width: calc(100% / 2);
  line-height: 1.7rem;
  margin-bottom: 5rem;
}

.ready-section {
  width: calc(100% / 2);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.readyheadline {
  text-align: left;
  color: #6e6e6e;
}

.readyheadline > h2 {
  font-family: 'Tiempos Headline', sans-serif;
}

.readyheadline > p {
  font-family: 'Avenir', sans-serif;
  line-height: 2rem;
}

.readyheadline > a {
  font-family: 'Avenir', sans-serif;
  line-height: 2rem;
}

.ready-button {
  padding-top: 2rem;
  text-align: right;
  color: white;
}

.logo-white-address {
  text-align: left;
  padding-top: 1rem;
  font-size: 0.9rem;
}

.logo-white-address > img {
  width: 50%;
  margin-bottom: 1.5rem;
}

.margin-offset {
  padding-left: 40px;
  padding-right: 40px;
}

.footer-links-div {
  background-color: #525351;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.address-padding {
  line-height: 0.5rem;
}

.footer-links {
  width: calc(100% / 4);
  justify-content: center;
  color: white;
  font-family: 'Avenir', sans-serif;
  text-align: left;
  line-height: 2rem;
}

.footer-links > a {
  text-decoration: none;
  color: white;
  margin-bottom: 4rem;
}

.footer-links > address > a {
  text-decoration: none;
  color: white;
}

.bottom-links {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bottom-links-text {
  color: #6e6e6e;
  padding-right: 2rem;
}

/* 525351 */

/*
location text color: 6E6E6E
*/
